n8n/AGENT_6_Tournois_Drive.json
{
  "name": "METAPOKE v2 · Agent 6 — Tournois Drive (lun/mer/ven 20h)",
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 1,3,5"
            }
          ]
        }
      },
      "id": "trig-lmv",
      "name": "Lun Mer Ven 20h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        300
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "operation": "search",
        "searchMethod": "query",
        "queryString": "=('1f-9f4NGKgquFQaRnaP2pzGWn4_WPEg9E' in parents or '1HWnBWdDroe-SugES33x_EIbHxA2YJmkJ' in parents or '1QtWwc5TAE__oZ1Jf-cY1SCmd6EdKcOuO' in parents or '1rcO481C4C9FQK0GNxtcMmwcVlfxNexRF' in parents or '1VfthQyUof1RcKKd010sG1-5p5QWVcY95' in parents or '1kdW_rKXKMxEFMQvmyewaXHyMr7nTU1ip' in parents or '1f0381dZEnQ4PiqEuDWcol2LFrGcsz15t' in parents or '1Z0PODv03h0tau3JBJv7qG-UgWRPnWm_6' in parents or '1tzV2pDlUplM6vtKj4Dw8JZOd-qCXfTFw' in parents) and modifiedTime > '{{ new Date(Date.now()-3*864e5).toISOString() }}' and trashed = false",
        "returnAll": true,
        "options": {}
      },
      "id": "drive-search",
      "name": "Drive — modifiés depuis 3 jours",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== METAPOKE — Détection des nouveautés Drive (tournois) =====\nconst files = $input.all().map(i=>i.json).filter(f=>f.name && !/DS_Store/.test(f.name));\nconst sheets = files.filter(f=>(f.mimeType||'').includes('spreadsheet'));\nconst images = files.filter(f=>(f.mimeType||'').includes('image'));\nconst pdfs   = files.filter(f=>(f.mimeType||'').includes('pdf'));\nconst lines=[];\nif(sheets.length) lines.push('📊 Sheets modifiés : '+sheets.map(f=>f.name).join(', '));\nif(images.length) lines.push('🖼️ Images ajoutées : '+images.map(f=>f.name).join(', '));\nif(pdfs.length)   lines.push('📄 PDF ajoutés : '+pdfs.map(f=>f.name).join(', '));\nreturn [{ json: {\n  hasChanges: files.length>0,\n  nbFichiers: files.length,\n  sheetIds: sheets.map(f=>({id:f.id,name:f.name})),\n  resume: lines.join('\\n') || 'Aucune nouveauté détectée dans le Drive depuis le dernier passage.',\n  subject: files.length ? ('METAPOKE Tournois — '+files.length+' nouveauté(s) dans ton Drive') : 'METAPOKE Tournois — rien de neuf'\n}}];\n"
      },
      "id": "detect",
      "name": "Détecter les nouveautés",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.hasChanges }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new",
      "name": "Du nouveau ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "florian974.fd974@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "=Salut Flow !\n\nPassage de l'agent Tournois — {{ new Date().toLocaleString('fr-FR', {timeZone:'Europe/Paris'}) }}\n\n{{ $json.resume }}\n\n👉 Pour intégrer ces nouveautés au site : ouvre Claude (Cowork) et dis simplement « mets à jour les tournois ». Il lira les sheets (le score fait foi), mettra à jour pbl_matches.json, les statuts d'équipes et republiera le site.\n\n— Agent METAPOKE Tournois",
        "options": {}
      },
      "id": "mail-recap",
      "name": "Mail récap à Flow",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        360,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== Parseur feuilles de match — LE SCORE FAIT FOI =====\n// Entrée : lignes brutes du Google Sheet. Sortie : matchs au format pbl_matches.json\nconst rows = $input.all().map(i=>Object.values(i.json));\nconst CODES='TSM|EX|IMP|XTRP|VIP|US|AKS|TB|FE|AR|IA|SM|XP|AK|RGK';\nconst matches=[]; let cur=null, session='🕖 19h';\nfor(const r of rows){\n  const cells=r.map(c=>String(c==null?'':c).trim());\n  const joined=cells.join(' | ');\n  if(/21h/i.test(joined)) session='🕘 21h';\n  const vs=joined.match(/\\b([A-Za-z]{2,6})\\s+vs\\s+([A-Za-z]{2,6})\\b/i);\n  if(vs && !/Decks/i.test(vs[1])){\n    cur={a:vs[1].toUpperCase(), b:vs[2].toUpperCase(), session, rounds:[]};\n    matches.push(cur); continue;\n  }\n  const sc=cells.find(c=>/^\\d+\\s*-\\s*\\d+$/.test(c));\n  if(cur && sc){\n    const idx=cells.indexOf(sc);\n    const win=cells[idx+1]||'', lose=cells[idx+2]||'';\n    if(!win && !lose) continue;\n    const m=sc.match(/(\\d+)\\s*-\\s*(\\d+)/); const a=+m[1], b=+m[2];\n    const prevSc=cur.rounds.length?cur.rounds[cur.rounds.length-1].sc.split('-').map(Number):[0,0];\n    // qui a marqué le point ? (le score fait foi, pas la colonne)\n    const scorer=(a-prevSc[0]===1 && b===prevSc[1])?cur.a:((b-prevSc[1]===1 && a===prevSc[0])?cur.b:null);\n    const tagRe=new RegExp('\\\\b('+CODES+')\\\\s*$','i');\n    const tag=s=>{const mm=String(s).match(tagRe); return mm?mm[1].toUpperCase():null;};\n    let wd=win.replace(tagRe,'').trim(), ld=lose.replace(tagRe,'').trim();\n    let wt=tag(win)||scorer, lt=tag(lose);\n    if(scorer && wt && wt!==scorer){ const t=wd; wd=ld; ld=t; wt=scorer; lt=(scorer===cur.a?cur.b:cur.a); }\n    if(!wt) wt=scorer||cur.a;\n    if(!lt) lt=(wt===cur.a?cur.b:cur.a);\n    cur.rounds.push({m:'M'+(cur.rounds.length+1), wd, wt, ld, lt, sc:a+'-'+b});\n  }\n}\nconst valides=matches.filter(mt=>mt.rounds.length>0);\nreturn [{ json:{ matches:valides, nbMatches:valides.length, sheetName: $json.name||'' } }];\n"
      },
      "id": "parse-sheet",
      "name": "Parser matchs (à brancher après Google Sheets)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        460
      ],
      "disabled": true,
      "notes": "OPTIONNEL : ajoute un node Google Sheets (Read) entre « Du nouveau ? » et ce node pour parser automatiquement les feuilles de match. Le score fait foi : si la colonne vainqueur contredit la progression du score, le parseur corrige tout seul."
    }
  ],
  "connections": {
    "Lun Mer Ven 20h": {
      "main": [
        [
          {
            "node": "Drive — modifiés depuis 3 jours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive — modifiés depuis 3 jours": {
      "main": [
        [
          {
            "node": "Détecter les nouveautés",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Détecter les nouveautés": {
      "main": [
        [
          {
            "node": "Du nouveau ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Du nouveau ?": {
      "main": [
        [
          {
            "node": "Mail récap à Flow",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}